1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [4]:
test1 = 'This is a test of the emergency text system'

In [5]:
file = open('test.txt','w')
file.write(test1)
file.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [12]:
test2 = open('test.txt','r')
print(test2.read())

This is a test of the emergency text system

In [13]:
print(test2.read())

In [8]:
print(test1)

This is a test of the emergency text system

* In term of data type both are the same but in term of execution the test1 is coming from local variable and test.txt file.
* so I run the test1 one more time it will give me same output as I had got before.
* But,in terms of test2 I will not get the same after I will test2 variable one more time in next console.

3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Mi√©ville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [14]:
import csv
with open('books.csv','w',newline='') as csvfile:
    writer = csv.writer(csvfile,delimiter=',')
    writer.writerow(['title','author','year'])
    writer.writerow(['The Weirdstone of Brisingamen','Alan Graner',1960])
    writer.writerow(['Thud!','terry Pratchett',2005])
    writer.writerow(['The Spellman Files','Lisa Lutz',2007])
    writer.writerow(['Small Gods','Terry Pratchett',1992])

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [15]:
import sqlite3
connection =sqlite3.connect('books.db')
cursor = connection.cursor()
cursor.execute(""" CREATE TABLE books
                   (title text,author text,year integer)""")

connection.commit()
connection.close()

5. Read books.csv and insert its data into the book table.

In [18]:
import pandas as pd
df = pd.read_csv('books.csv')
df.head()

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Graner  1960
1                          Thud!  terry Pratchett  2005
2             The Spellman Files        Lisa Lutz  2007
3                     Small Gods  Terry Pratchett  1992

In [19]:
connection =sqlite3.connect('books.db')
import pandas as pd
df = pd.read_csv('books.csv')
df.to_sql('books', connection, if_exists='append', index=False)

4

In [20]:
with open('books.csv','r') as file:
    for line in file.readlines():
        print(line)

title,author,year

The Weirdstone of Brisingamen,Alan Graner,1960

Thud!,terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

6. Select and print the title column from the book table in alphabetical order.

In [21]:
connection =sqlite3.connect('books.db')
cursor = connection.cursor()
columns =cursor.execute("""SELECT title FROM books ORDER BY title ASC;""")

for col in columns:
    print(col)

('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

7. From the book table, select and print all columns in the order of publication.

In [22]:
connection =sqlite3.connect('books.db')
cursor = connection.cursor()
columns =cursor.execute("""SELECT *FROM books ORDER BY year ASC;""")

for col in columns:
    print(col)

('The Weirdstone of Brisingamen', 'Alan Graner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Thud!', 'terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [23]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///books.db', echo = True)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [24]:
!pip install redis

Collecting redis
  Downloading redis-4.4.2-py3-none-any.whl (237 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.1
    Uninstalling async-timeout-4.0.1:
      Successfully uninstalled async-timeout-4.0.1
Successfully installed async-timeout-4.0.2 redis-4.4.2

10. Increment the count field of test and print it.